@mixin titulacion {
    font-family: $fuentePpal;
    font-size: 48px;
    line-height: 62px;
}


@media screen and (min-width: 768px){

    *{
        margin: 0;
        padding: 0;
    }
}


/*Bloque 1*/
/*Logo + navbar*/

@media screen and (min-width: 768px){

        .barra{
            height: 80px;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        .navegacion{

        .logo{
            position: relative;
            margin-top: 22px;
            margin-left: 100px;
            width: 36px;
            height: 36px;
        }

        .menu{
            display: none;

        }
        }
    }
    }


/*Bloque 2*/
/*Hello World*/

@media screen and (min-width: 768px){

    header{
        width: 100vw;

        div{
            position: relative;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 120px;

            .titulacion{
                width: 100vw;
                font-size: 64px;
                color: black;
            }

            .textoMain{
                max-width: 628px;
                font-size: 16px;
                line-height: 24px;
            }

            .boton{
                width: 226px;
                height: 56px;
            }
        }
    }

}


/*Bloque 3*/
/*Escuchar los episodios*/

@media screen and (min-width: 768px){

    .play{
        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: row !important;
    }
        .elementos{
            display: flex;
            flex-direction: row;


            .titulacion{
                @include titulacion;
                color: white;
            }

            .spotify{
                width: 100vw;
                display: flex;
                justify-content: space-evenly;

                iframe{
                    width: 400px !important;
                }
            }
        }

}


//de donde venimos (celu+texto)

@media screen and (min-width: 768px){

    .deDonde{
        width: 100vw;
        position: relative;

        .contenedor{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

                .img{
                    width: 457.6px;
                }


                .contenedor-textos{
                    display: flex;
                    flex-direction: column;

                .titulacion{
                    @include titulacion;
                }

                .texto{
                    font-family: $fuenteSec;
                    font-size: 16px;
                    color: $typo;
                    letter-spacing: 0;
                    line-height: 24px;
                    text-align: left;
                }
            }

        }
    }


}



//invitados (fotos row)

@media screen and (min-width: 768px){

    .invitados{
        position: relative;
    
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
    
            .titulacion{
                @include titulacion;
                align-self: flex-start;
                min-width: 400px;
            }

            .imagenes{
                display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
    
            img{
                height: 364px;
                width: 480px;
            }
        }
        }
    }

}


//algunos de nuestros temas

@media screen and (min-width: 768px){
    .temas{
        display: flex;
        flex-direction: row;

        .titulacion{
            @include titulacion;
        }
        .contenedorIconos{
            display: flex;
            flex-direction: row;

            .individual{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .contenedor-img{
                    width: 260px;
                    height: 130px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                img{

                    width: 104px;
                    height: 104px;

                }
           
                p{
                    font-family: $fuentePpal;
                    font-size: 24px;
                    color: #060A24;
                    letter-spacing: 0;
                    text-align: center;
                }
                }
            }
        }
    }
}


//footer

@media screen and (min-width: 768px){

    footer{
        position: relative;
        height: 95px;

        .main{
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .texto{
                font-family: $fuenteSec;
                font-size: 16px;
                color: $typo;
                margin: 0;
            }

            .iconosRedes{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                img{
                    width: 20px;
                    height: 20px;
                    padding-left: 36px;
                }
            }
        }
    }

}