/* typo + croma + media query */
/*
En _variables.scss: 

- paletas cromaticas (plenos y gradientes)
- tipografia: primaria y secundaria

- mixin: botones 

- hover navbar:
.tachar li
.menu desplegable
*/
/*________________________________________________________________*/
/*Croma*/
/*TIPOGRAFIA
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Mono', sans-serif;
*/
/*Tipografia*/
/*________________________________________________________________*/
/*Hover li navbar*/
/*Botones - propiedades*/
* {
  margin: 0;
  padding: 0; }

body {
  max-width: 100vw; }

/*Bloque 1*/
/*Logo + navbar*/
header nav {
  display: flex;
  justify-content: space-between; }
  header nav .logo {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 16px; }
  header nav .menu-nav input {
    display: none; }
  header nav .menu-nav .abierto {
    display: block; }
  header nav .menu-nav .cerrado {
    display: none; }
  header nav .menu-nav input:checked ~ .abierto {
    display: none; }
  header nav .menu-nav input:checked ~ .cerrado {
    display: block; }
header .helloWorld {
  box-sizing: border-box;
  width: 100vw;
  position: relative;
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header .helloWorld h1 {
    font-family: "IBM Plex Sans";
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #060A24;
    width: 288px; }
    header .helloWorld h1 .tachado {
      text-decoration: line-through;
      color: #060A24; }
    header .helloWorld h1 .puntoColor {
      color: #0000A3; }
  header .helloWorld .textoMain {
    font-family: "IBM Plex Mono";
    font-size: 14px;
    max-width: 288px;
    text-align: justify;
    line-height: 22px;
    margin-top: 16px;
    color: #060A24; }
  header .helloWorld .boton {
    width: 288px;
    height: 48px;
    background-color: #00F3BB;
    border: none;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    margin: 36px 0px 24px 0px; }
    header .helloWorld .boton:hover {
      background-image: linear-gradient(to left, #00F0B8, #0000FE);
      color: white; }

/*Bloque 3*/
/*Episodios*/
.play {
  box-sizing: border-box;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  margin-top: 24px;
  background-image: linear-gradient(#0000FF, #0000A3);
  height: 1290.5px;
  clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%); }
  .play .elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .play .elements h2 {
      width: 100vw;
      margin: 4rem 0px 20px 16px;
      position: relative;
      color: white;
      font-family: "IBM Plex Sans";
      font-size: 36px;
      line-height: 40px;
      font-weight: 400; }
    .play .elements .spotify {
      max-width: 298px;
      margin: 11px 11px 11px 11px;
      position: relative;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 10px; }
      .play .elements .spotify iframe {
        border: none;
        width: 100%; }

/*Bloque 4*/
/*De donde venimos (Celular + texto*/
.deDonde {
  box-sizing: border-box;
  position: relative;
  margin-top: -120px;
  box-sizing: border-box; }
  .deDonde .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .deDonde .contenedor .img {
      width: 360px;
      margin-bottom: 27px; }
    .deDonde .contenedor h2 {
      font-family: "IBM Plex Sans";
      font-size: 36px;
      line-height: 40px;
      font-weight: 400;
      color: #060A24;
      margin: 0px 0px 8px 16px;
      max-width: 288px; }
    .deDonde .contenedor .texto {
      font-family: "IBM Plex Mono";
      font-size: 14px;
      line-height: 22px;
      text-align: justify;
      color: #060A24;
      margin: 8px 16px 0px 16px;
      max-width: 288px; }

/*Bloque 5*/
/*Invitadas estelares*/
.invitados {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .invitados div h2 {
    margin: 54px 0px 16px 16px;
    font-family: "IBM Plex Sans";
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #060A24;
    width: 288px; }
  .invitados div .imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .invitados div .imagenes img {
      height: 243px;
      width: 320px;
      margin-top: -5px; }

/*Bloque 6*/
/* Nuestros temas (icono + texto) */
.temas {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .temas h2 {
    font-family: "IBM Plex Sans";
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #060A24;
    margin: 27px 0px 37px 16px;
    max-width: 288px; }
  .temas .contenedorIconos .contenedor-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: 20px 0px 65px 0px; }
    .temas .contenedorIconos .contenedor-img img {
      width: 104px;
      height: 104px;
      margin-bottom: 10px; }
    .temas .contenedorIconos .contenedor-img p {
      font-family: "IBM Plex Sans";
      color: #060A24;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      font-weight: 500; }

/*Bloque 7*/
/*Novedades + boton*/
.novedades {
  box-sizing: border-box;
  background-image: linear-gradient(#0000FF, #0000A3);
  position: relative;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%); }
  .novedades .main {
    clip-path: none; }
    .novedades .main h2 {
      max-width: 288px;
      font-family: "IBM Plex Sans";
      font-weight: 300;
      color: white;
      font-size: 36px;
      text-align: center;
      padding-top: 50px; }
    .novedades .main .boton {
      width: 288px;
      height: 48px;
      background-color: #00F3BB;
      border: none;
      font-family: "IBM Plex Mono";
      font-weight: 500;
      margin: 36px 0px 24px 0px; }
      .novedades .main .boton:hover {
        background-image: linear-gradient(to left, #00F0B8, #0000FE);
        color: white; }

/*Bloque 8*/
/*Footer*/
footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 121px; }
  footer .texto {
    font-family: "IBM Plex Mono";
    color: #060A24;
    margin-top: 24px; }
  footer .iconosRedes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 31px; }
    footer .iconosRedes a img {
      height: 16px;
      width: 16px; }

@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0; } }
/*Bloque 1*/
/*Logo + navbar*/
@media screen and (min-width: 768px) {
  header {
    /*Bloque 2
    Hello World*/ }
    header nav .menu-nav {
      display: none; }
    header nav ul {
      position: static;
      display: inline-block;
      height: 10vh;
      width: unset;
      margin-right: 1em; }
      header nav ul li {
        box-sizing: border-box;
        display: inline-block;
        height: 10vh;
        padding: 0 0.5em;
        width: unset;
        line-height: 10vh;
        list-style: none;
        border-bottom: 0px;
        color: blue; }
    header .helloWorld {
      box-sizing: border-box;
      margin: 120px 0px 0px 100px;
      display: flex;
      flex-direction: column;
      justify-self: flex-start; }
      header .helloWorld h1 {
        width: 100vw;
        font-size: 64px;
        color: black;
        margin: 0px 0px 10px 0px; }
      header .helloWorld .textoMain {
        align-self: flex-start;
        min-width: 624px;
        font-size: 16px;
        line-height: 24px;
        justify-self: self-start; }
      header .helloWorld .boton {
        width: 226px;
        height: 56px;
        background-color: #00F3BB;
        border: none;
        font-family: "IBM Plex Mono";
        font-weight: 500;
        font-size: 18px;
        margin: 36px 0px 24px 0px;
        align-self: flex-start;
        margin-top: 56px; }
        header .helloWorld .boton:hover {
          background-image: linear-gradient(to left, #00F0B8, #0000FE);
          color: white; }

  /*Bloque 3*/
  /*Escuchar los episodios*/ }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .play {
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    max-height: 1042.6px; }
    .play .elements {
      width: 100vw; }
      .play .elements h2 {
        font-family: "IBM Plex Sans";
        font-size: 48px;
        line-height: 62px;
        font-weight: 300;
        color: white;
        margin: 150px 0px 26px 200px;
        position: relative; }
      .play .elements .spotify {
        position: relative;
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 585px);
        grid-template-rows: repeat(2, 232px);
        grid-gap: 72px;
        justify-content: center;
        align-items: center; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .deDonde {
    box-sizing: border-box;
    position: relative; }
    .deDonde .contenedor {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100vw; }
      .deDonde .contenedor .img {
        width: 457.6px;
        margin-right: 62.4px; }
      .deDonde .contenedor .contenedor-textos {
        display: flex;
        flex-direction: column;
        max-width: 100vw; }
        .deDonde .contenedor .contenedor-textos h2 {
          font-family: "IBM Plex Sans";
          font-size: 48px;
          line-height: 62px;
          font-weight: 300;
          margin-bottom: 24px;
          max-width: 30rem;
          margin-left: 0; }
        .deDonde .contenedor .contenedor-textos .texto {
          font-family: "IBM Plex Mono";
          font-size: 16px;
          color: #060A24;
          letter-spacing: 0;
          line-height: 24px;
          text-align: left;
          min-width: 464px;
          margin: 0; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .invitados {
    box-sizing: border-box;
    position: relative;
    margin-top: 64px; }
    .invitados div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative; }
      .invitados div h2 {
        font-family: "IBM Plex Sans";
        font-size: 48px;
        line-height: 62px;
        font-weight: 300;
        width: 100vw;
        margin: 0px 0px 36px 200px; }
      .invitados div .imagenes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .invitados div .imagenes img {
          height: 364px;
          width: 480px; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .temas {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 64px 0px 20px 0px; }
    .temas h2 {
      justify-self: self-start;
      font-family: "IBM Plex Sans";
      font-size: 48px;
      line-height: 62px;
      font-weight: 300;
      margin: 0px 0px 40px 200px;
      min-width: 100vw; }
    .temas .contenedorIconos {
      display: flex;
      flex-direction: row; }
      .temas .contenedorIconos .contenedor-img {
        width: 260px;
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .temas .contenedorIconos .contenedor-img img {
          width: 104px;
          height: 104px;
          margin-bottom: 29px; }
        .temas .contenedorIconos .contenedor-img p {
          font-family: "IBM Plex Sans";
          font-size: 24px;
          color: #060A24;
          letter-spacing: 0;
          text-align: center; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .novedades {
    box-sizing: border-box;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    position: relative;
    height: 518px;
    margin-top: 50px; }
    .novedades .main {
      background-color: rgba(66, 70, 99, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px; }
      .novedades .main h2 {
        margin: 0px;
        max-width: 692px;
        padding: 0px;
        font-family: "IBM Plex Sans";
        font-size: 48px;
        line-height: 62px;
        font-weight: 300; }
      .novedades .main .boton {
        width: 345px;
        height: 56px;
        background-color: #00F3BB;
        border: none;
        font-family: "IBM Plex Mono";
        font-weight: 500;
        font-size: 18px;
        margin: 36px 0px 24px 0px; }
        .novedades .main .boton:hover {
          background-image: linear-gradient(to left, #00F0B8, #0000FE);
          color: white; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  footer {
    position: relative;
    height: 95px; }
    footer .main {
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      footer .main .texto {
        font-family: "IBM Plex Mono";
        font-size: 16px;
        color: #060A24;
        margin: 0; }
      footer .main .iconosRedes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; }
        footer .main .iconosRedes img {
          width: 20px;
          height: 20px;
          padding-left: 36px; } }
/*Bloque 3*/
/*Escuchar los episodios*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .play {
    width: 100vw; }
    .play .elements h2 {
      font-family: "IBM Plex Sans";
      font-size: 48px;
      line-height: 62px;
      font-weight: 300;
      color: white; }
    .play .elements .spotify {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: none;
      align-items: center; }
      .play .elements .spotify iframe {
        width: 400px;
        align-self: center; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .temas {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .temas .contenedorIconos {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: repeat(2, 2fr);
      grid-gap: 80px; } }

/*# sourceMappingURL=styles.css.map */
