/* typo + croma + media query */
/*
En _variables.scss: 

- paletas cromaticas (plenos y gradientes)
- tipografia: primaria y secundaria

- mixin: botones 

- hover navbar:
.tachar li
.menu desplegable
*/
/*________________________________________________________________*/
/*Croma*/
/*TIPOGRAFIA
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Mono', sans-serif;
*/
/*Tipografia*/
/*________________________________________________________________*/
/*Hover li navbar*/
/*Botones - propiedades*/
* {
  margin: 0;
  padding: 0; }

body {
  max-width: 100vw; }

/*Bloque 1*/
/*Logo + navbar*/
header {
  width: 100%; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2.75rem; }
    header nav .logo {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 1rem; }
    header nav ul {
      top: 2.75rem;
      background-color: #0000EC;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 20rem;
      height: 14rem;
      z-index: 1;
      right: 0;
      position: absolute; }
      header nav ul li {
        margin-top: 1.8rem;
        margin-left: 1rem;
        font-family: "IBM Plex Sans";
        font-size: 16px;
        list-style: none; }
        header nav ul li a {
          color: white;
          text-decoration: none; }
          header nav ul li a:hover {
            color: #00F3BB;
            text-decoration: line-through; }
    header nav .menu-nav {
      margin-right: 1.25rem; }
      header nav .menu-nav input {
        display: none; }
      header nav .menu-nav .abierto {
        display: none; }
      header nav .menu-nav .cerrado {
        display: block; }
      header nav .menu-nav input:checked ~ ul {
        display: none; }
      header nav .menu-nav input:checked ~ .abierto {
        display: block; }
      header nav .menu-nav input:checked ~ .cerrado {
        display: none; }
  header .helloWorld {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100vw;
    position: relative;
    margin-top: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .helloWorld h1 {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-family: "IBM Plex Sans";
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      color: #060A24;
      width: 288px; }
      header .helloWorld h1 .tachado {
        text-decoration: line-through;
        color: #060A24; }
      header .helloWorld h1 .puntoColor {
        color: #0000A3; }
    header .helloWorld .textoMain {
      font-family: "IBM Plex Mono";
      font-size: 14px;
      max-width: 288px;
      text-align: justify;
      line-height: 22px;
      margin-top: 16px;
      color: #060A24; }
    header .helloWorld .boton {
      width: 288px;
      height: 48px;
      background-color: #00F3BB;
      border: none;
      font-family: "IBM Plex Mono";
      font-weight: 500;
      margin: 36px 0px 24px 0px; }
      header .helloWorld .boton:hover {
        background-image: -webkit-gradient(linear, right top, left top, from(#00F0B8), to(#0000FE));
        background-image: linear-gradient(to left, #00F0B8, #0000FE);
        color: white; }

/*Bloque 3*/
/*Episodios*/
.play {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  margin-top: 1.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  height: 80.6rem;
  -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
          clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%); }
  .play .elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .play .elements h2 {
      width: 100vw;
      margin: 4rem 0px 1.25rem 4rem;
      position: relative;
      color: white;
      font-family: "IBM Plex Sans";
      font-size: 36px;
      line-height: 40px;
      font-weight: 400; }
    .play .elements .spotify {
      max-width: 18.6rem;
      margin: 11px 11px 11px 11px;
      position: relative;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 10px; }
      .play .elements .spotify iframe {
        border: none;
        width: 100%; }

/*Bloque 4*/
/*De donde venimos (Celular + texto*/
.deDonde {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-top: -120px;
  box-sizing: border-box; }
  .deDonde .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .deDonde .contenedor .img {
      width: 22.5rem;
      margin-bottom: 1.6rem; }
    .deDonde .contenedor h2 {
      font-family: "IBM Plex Sans";
      font-size: 36px;
      line-height: 40px;
      font-weight: 400;
      color: #060A24;
      margin: 0px 0px 8px 16px;
      max-width: 18rem; }
    .deDonde .contenedor .texto {
      font-family: "IBM Plex Mono";
      font-size: 0.8em;
      line-height: 1.3em;
      text-align: justify;
      color: #060A24;
      margin: 8px 16px 0px 16px;
      max-width: 18rem; }

/*Bloque 5*/
/*Invitadas estelares*/
.invitados {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .invitados div h2 {
    margin: 54px 0px 16px 16px;
    font-family: "IBM Plex Sans";
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #060A24;
    width: 18rem; }
  .invitados div .imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .invitados div .imagenes img {
      height: 243px;
      width: 320px;
      margin-top: -5px; }

/*Bloque 6*/
/* Nuestros temas (icono + texto) */
.temas {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .temas h2 {
    font-family: "IBM Plex Sans";
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #060A24;
    margin: 27px 0px 37px 16px;
    max-width: 288px; }
  .temas .contenedorIconos .contenedor-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
    margin: 20px 0px 65px 0px; }
    .temas .contenedorIconos .contenedor-img img {
      width: 104px;
      height: 104px;
      margin-bottom: 10px; }
    .temas .contenedorIconos .contenedor-img p {
      font-family: "IBM Plex Sans";
      color: #060A24;
      font-size: 1.4em;
      line-height: 2em;
      text-align: center;
      font-weight: 500; }

/*Bloque 7*/
/*Novedades + boton*/
.novedades {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  position: relative;
  height: 21.87rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%); }
  .novedades .main {
    -webkit-clip-path: none;
            clip-path: none; }
    .novedades .main h2 {
      max-width: 18rem;
      font-family: "IBM Plex Sans";
      font-weight: 300;
      color: white;
      font-size: 2.25em;
      text-align: center;
      padding-top: 3.1rem; }
    .novedades .main .boton {
      width: 288px;
      height: 48px;
      background-color: #00F3BB;
      border: none;
      font-family: "IBM Plex Mono";
      font-weight: 500;
      margin: 36px 0px 24px 0px; }
      .novedades .main .boton:hover {
        background-image: -webkit-gradient(linear, right top, left top, from(#00F0B8), to(#0000FE));
        background-image: linear-gradient(to left, #00F0B8, #0000FE);
        color: white; }

/*Bloque 8*/
/*Footer*/
footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5rem; }
  footer .texto {
    font-family: "IBM Plex Mono";
    color: #060A24;
    margin-top: 1.4rem; }
  footer .iconosRedes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
    margin-bottom: 31px; }
    footer .iconosRedes a img {
      height: 16px;
      width: 16px; }

@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0; } }
/*Bloque 1*/
/*Logo + navbar*/
@media screen and (min-width: 768px) {
  header {
    /*Bloque 2
    Hello World*/ }
    header nav {
      width: 100vw;
      height: 5rem;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header nav .logo {
        width: 2.25rem;
        height: 2.25rem;
        margin-left: 6.25rem; }
      header nav .menu-box {
        display: none; }
      header nav ul {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 100vw; }
        header nav ul li a {
          color: #060A24; }
    header .helloWorld {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 120px 0px 0px 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      justify-self: flex-start; }
      header .helloWorld h1 {
        width: 100vw;
        font-size: 3em;
        color: black;
        margin: 0px 0px 10px 0px; }
      header .helloWorld .textoMain {
        -ms-flex-item-align: start;
            align-self: flex-start;
        min-width: 39rem;
        font-size: 1em;
        line-height: 1.5em;
        justify-self: self-start; }
      header .helloWorld .boton {
        width: 226px;
        height: 56px;
        background-color: #00F3BB;
        border: none;
        font-family: "IBM Plex Mono";
        font-weight: 500;
        font-size: 18px;
        margin: 36px 0px 24px 0px;
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-top: 56px; }
        header .helloWorld .boton:hover {
          background-image: -webkit-gradient(linear, right top, left top, from(#00F0B8), to(#0000FE));
          background-image: linear-gradient(to left, #00F0B8, #0000FE);
          color: white; }

  /*Bloque 3*/
  /*Escuchar los episodios*/ }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .play {
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    max-height: 65rem; }
    .play .elements {
      width: 100vw; }
      .play .elements h2 {
        font-family: "IBM Plex Sans";
        font-size: 48px;
        line-height: 62px;
        font-weight: 300;
        color: white;
        margin: 150px 0px 26px 200px;
        position: relative; }
      .play .elements .spotify {
        position: relative;
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 585px);
        grid-template-rows: repeat(2, 232px);
        grid-gap: 4.5rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .deDonde {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; }
    .deDonde .contenedor {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100vw; }
      .deDonde .contenedor .img {
        width: 28.6rem;
        margin-right: 3.9rem; }
      .deDonde .contenedor .contenedor-textos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 100vw; }
        .deDonde .contenedor .contenedor-textos h2 {
          font-family: "IBM Plex Sans";
          font-size: 48px;
          line-height: 62px;
          font-weight: 300;
          margin-bottom: 0.3em;
          max-width: 30rem;
          margin-left: 0; }
        .deDonde .contenedor .contenedor-textos .texto {
          font-family: "IBM Plex Mono";
          font-size: 1em;
          color: #060A24;
          letter-spacing: 0;
          line-height: 1.5em;
          text-align: left;
          min-width: 29rem;
          margin: 0; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .invitados {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin-top: 4rem; }
    .invitados div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
      .invitados div h2 {
        font-family: "IBM Plex Sans";
        font-size: 48px;
        line-height: 62px;
        font-weight: 300;
        width: 100vw;
        margin: 0px 0px 36px 200px; }
      .invitados div .imagenes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .invitados div .imagenes img {
          height: 364px;
          width: 480px; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .temas {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 64px 0px 20px 0px; }
    .temas h2 {
      justify-self: self-start;
      font-family: "IBM Plex Sans";
      font-size: 48px;
      line-height: 62px;
      font-weight: 300;
      margin: 0px 0px 40px 200px;
      min-width: 100vw; }
    .temas .contenedorIconos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .temas .contenedorIconos .contenedor-img {
        width: 16.25rem;
        height: 8.1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .temas .contenedorIconos .contenedor-img img {
          width: 104px;
          height: 104px;
          margin-bottom: 29px; }
        .temas .contenedorIconos .contenedor-img p {
          font-family: "IBM Plex Sans";
          font-size: 1.5em;
          color: #060A24;
          letter-spacing: 0;
          text-align: center; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  .novedades {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    position: relative;
    height: 32.3rem;
    margin-top: 3.12rem; }
    .novedades .main {
      background-color: rgba(66, 70, 99, 0);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 20px; }
      .novedades .main h2 {
        margin: 0px;
        max-width: 43.25rem;
        padding: 0px;
        font-family: "IBM Plex Sans";
        font-size: 48px;
        line-height: 62px;
        font-weight: 300; }
      .novedades .main .boton {
        width: 345px;
        height: 56px;
        background-color: #00F3BB;
        border: none;
        font-family: "IBM Plex Mono";
        font-weight: 500;
        font-size: 18px;
        margin: 36px 0px 24px 0px; }
        .novedades .main .boton:hover {
          background-image: -webkit-gradient(linear, right top, left top, from(#00F0B8), to(#0000FE));
          background-image: linear-gradient(to left, #00F0B8, #0000FE);
          color: white; } }
@media screen and (min-width: 768px) and (min-width: 768px) {
  footer {
    position: relative;
    height: 6rem; }
    footer .main {
      width: 100vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .main .texto {
        font-family: "IBM Plex Mono";
        font-size: 1em;
        color: #060A24;
        margin: 0; }
      footer .main .iconosRedes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        footer .main .iconosRedes img {
          width: 20px;
          height: 20px;
          padding-left: 36px; } }
/*Bloque 3*/
/*Escuchar los episodios*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .helloWorld {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .play {
    width: 100vw; }
    .play .elements h2 {
      font-family: "IBM Plex Sans";
      font-size: 48px;
      line-height: 62px;
      font-weight: 300;
      color: white; }
    .play .elements .spotify {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .play .elements .spotify iframe {
        width: 400px;
        -ms-flex-item-align: center;
            align-self: center; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .temas {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .temas .contenedorIconos {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: repeat(2, 2fr);
      grid-gap: 80px; } }

/*# sourceMappingURL=styles.css.map */