    /*Bloque 3*/
    /*Escuchar los episodios*/


    @media screen and (min-width: 768px) and (max-width: 1024px) {

        .helloWorld{
            display: flex;
            flex-direction: column;
            width: 100vw;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {

            .play {

                width: 100vw;

                .elements {

                    h2 {
                        @include titulacionWeb;
                        color: white;
                    }

                    .spotify {
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-template-rows: repeat(2,1fr);
                        align-items: center;
                        
                        iframe{
                            width: 400px;
                            align-self: center;
                        }
                    }
                }
            }
        }

// De donde

    @media screen and (min-width: 768px) and (max-width: 1024px) {

        .deDonde{
            width: 100vw;

            .contenedor{

                .img {
                    width: 420px;
                    margin-right: 0;
                }
            }

        }
    }


// Algunos de nuestros temas

    @media screen and (min-width: 768px) and (max-width: 1024px) {

        .temas {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .contenedorIconos {
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-template-rows: repeat(2, 2fr);
                grid-gap: 80px;
            }
        }
    }
